body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .3);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, .3);
}

.main-header {
  position: relative;
}

.inner-page .main-header {
  margin-bottom: 0;
}

.inner-page .filters {
  width: 1200px;
}

.inner-page .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-page .results {
  width: 1200px;
}

.inner-page .sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting .sorting-results {
  width: 118px;
  margin-right: 46px;
}

.sorting .sorting-title {
  width: 80px;
}

.sorting-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 36px 0 32px 0;
  list-style: none;
}

.sorting-list .price {
  width: 50px;
  margin-left: 35px;
  margin-right: 3px;
}

.sorting-list .type {
  width: 55px;
  margin-left: 28px;
}

.sorting-list .rate {
  width: 80px;
  margin-left: 28px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  right: 530px;
  width: 138px;
  height: 70px;
}

.main-navigation-wrapper {
  width: 100%;

  background-color: #ffffff;
}

.main-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 1056px;
  margin: 0 6%;
  padding: 14px 0 16px 0;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(1) {
  margin-right: 30px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  margin-left: 115px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  margin-left: auto;
  text-align: right;
}

.site-navigation .nav-active,
.site-navigation .nav-active:hover,
.site-navigation .nav-active:focus,
.site-navigation .nav-active:active {
  color: #766357;
}

.site-navigation a {
  display: inline-block;
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

.main-background {
  background-image:
      url("../img/background-mask.png"),
      url("../img/background-photo.jpg");
  background-position:
      bottom,
      0 -56px;
  background-repeat: no-repeat;
  padding-bottom: 41px;
  text-align: center;
  width: 100%;
}

.main-background img {
  padding-top: 76px;
  padding-bottom: 33px;
}

.promo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  margin-bottom: 39px;
}

.promo-container .promo-title {
  width: 450px;
  margin: 0;
  padding-top: 20px;
}

.promo-container .promo-text {
  width: 495px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 12px;
}

.features-list {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
          flex-direction: row;
}

.features-list .features-item {
  width: 1200px;
}

.features {
  background-color: #ffffff;
}

.features h1 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.features .promo-text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.features-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-bottom: 74px;
}

.features-services .services-item {
  width: 400px;
  text-align: center;
  position: relative;
}

.features-item {
  text-align: center;
}

.services-item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 60px;
  right: 138px;

  width: 100px;
  height: 100px;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/icon-1.svg");
}

.services-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 61px;
  right: 142px;

  width: 100px;
  height: 100px;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/icon-3.svg");
}

.services-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 56px;
  right: 132px;

  width: 100px;
  height: 100px;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/icon-2.svg");
}

.services-item h2 {
  margin: 0;
  padding: 0;
  padding-top: 161px;
  padding-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.services-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}

.features-reason-item {
  text-align: center;
  width: 400px;
}

.features-title {
  padding-top: 47px;
}

.features-reason-item h2 {
  color: #000000;
  margin: 0;
  padding-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.features-reason-item p {
  margin: 0;
}

.features-reason-text {
  padding-top: 20px;
  padding-bottom: 59px;
}

.blue-bg {
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 47px;
}

.blue-bg h2 {
  color: #ffffff;
}

.blue-bg p {
  display: block;
  margin: 0;
  margin-top: 20px;
}

.features-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
}

.features-image {
  width: 800px;
  line-height: 0;
}

.promo-date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
}

.map-bg {
  position: relative;
  background-image: url("../img/map.jpg");
  background-position: -40px -154px;
  background-repeat: no-repeat;
  padding-bottom: 190px;
  height: 395px;
  overflow: hidden;
}

.map-bg iframe {
  border: none;
}

.find-hotel {
  text-align: center;
}

.find-hotel-title {
  padding-top: 50px;
  padding-bottom: 24px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  width: 305px;
}

.find-hotel-text {
  padding-bottom: 47px;
  line-height: 24px;
  width: 440px;
}

.wrapper-find-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-hotel-form {
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  font-weight: bold;
  line-height: 26px;
  width: 569px;
  top: 0;
  right: 316px;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

.find-hotel-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.find-hotel-show {
  display: none;
}

.find-hotel-button {
  padding: 32px 140px 33px 140px;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: 21px;
}

.find-hotel-button:hover {
  background-color: #604e43;
}

.find-hotel-button:focus,
.find-hotel-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.302);
}

.form-content {
  position: relative;
  padding: 55px 55px 55px 56px;
}

.form-content-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.date-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 468px;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.date-form label {
  display: block;
  padding-top: 6px;
}

.form-counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1px;
}

.counter {
  display: inline-block;
  padding: 0;
  border: none;
  height: 38px;
}

.counter-adults {
  margin-right: 38px;
  margin-left: -1px;
}

.counter-children {
  margin-right: 23px;
}

.counter-input {
  vertical-align: top;
  font-weight: bold;
  font-family: inherit;
  line-height: 16px;
  width: 40px;
  margin-left: -4px;
  margin-right: -5px;
  padding: 10px 0;
  border: 2px solid #f2f2f2;
  background: #f2f2f2;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.counter input[type="text"] {
  height: 38px;
}

.icon-minus {
  width: 38px;
}

.icon-plus {
  width: 38px;
}

.icon-minus,
.icon-plus {
  position: relative;
  line-height: 38px;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  color: #a9a9a9;
  background: #f2f2f2;
}

.icon-minus::after {
  position: absolute;
  content: "";

  top: 18px;
  left: 13px;

  height: 3px;
  width: 11px;

  background-color: #a9a9a9;
}

.icon-minus:hover::after {
  background-color: #000000;
}

.icon-minus:focus::after,
.icon-minus:active::after {
  background-color: #81b3d2;
}

.icon-plus::after {
  position: absolute;
  content: "";

  top: 18px;
  left: 13px;

  height: 3px;
  width: 11px;

  background-color: #a9a9a9;
}

.icon-plus:hover::after {
  background-color: #000000;
}

.icon-plus:focus::after,
.icon-plus:active::after {
  background-color: #81b3d2;
}

.icon-plus::before {
  position: absolute;
  content: "";

  top: 14px;
  right: 18px;

  height: 11px;
  width: 3px;

  background-color: #a9a9a9;
}

.icon-plus:hover::before {
  background-color: #000000;
}

.icon-plus:focus::before,
.icon-plus:active::before {
  background-color: #81b3d2;
}

.date-form input {
  position: absolute;
  right: 0;
  font: inherit;
  text-transform: uppercase;

  padding-right: 5px;
  padding-left: 10px;

  width: 302px;
  height: 32px;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.date-form input[type="text"] {
  padding-right: 30px;
}

.date-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.date-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar-icon {
  position: absolute;
  fill: #cacaca;
}

.calendar-icon:hover {
  fill: #000000;
}

.calendar-icon:focus,
.calendar-icon:active {
  fill: #81b3d2;
}

.calendar-icon.icon-1 {
  top: 8px;
  right: 9px;
}

.calendar-icon.icon-2 {
  top: 8px;
  right: 9px;
}

.button {
  font: inherit;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;

  margin-top: 54px;
  width: 100%;
  height: 58px;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.302);
}

.inner-page {
  color: #000000;

  background-color: #f2f2f2;
}

.filter {
  background-image: url("../img/background-blur.jpg");
  background-repeat: no-repeat;
  background-position: 0 -55px;
  width: 100%;
  color: #ffffff;
}

.filter fieldset {
  border: none;
  padding-bottom: 5px;
}

.infrastructure {
  margin-left: 61px;
}

.infrastructure .parking {
  margin-bottom: 24px;
}

.hotels-type {
  margin-left: 97px;
}

.filters-checkbox input[type="checkbox"] {
  display: none;
}

.filters-checkbox {
  position: relative;

  padding-left: 35px;

  cursor: pointer;
}

.filter-input-checkbox + .checkbox-img-on::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;

  top: 0;
  left: 0;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + .checkbox-img-on::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + .checkbox-img-on::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;

  top: 0;
  left: 0;

  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked:disabled + .checkbox-img-on::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.pool-checkbox + .checkbox-img-on::before {
  left: -4px;
  top: -1px;
}

.parking-checkbox + .checkbox-img-on::before {
  left: -4px;
  top: -2px;
}

.wifi-checkbox + .checkbox-img-on::before {
  left: -4px;
  top: -3px;
}

.hotel-checkbox + .checkbox-img-on::before {
  left: -5px;
  top: -1px;
}

.motel-checkbox + .checkbox-img-on::before {
  left: -5px;
  top: -2px;
}

.apartments-checkbox + .checkbox-img-on::before {
  left: -5px;
  top: -4px;
}

.filter legend {
  margin-bottom: 18px;
  padding-top: 27px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filter ul {
  padding: 0;
  padding-left: 1px;
  margin: 0;
  list-style: none;
  line-height: 21px;
}

.filter li {
  padding-top: 1px;
  margin-bottom: 25px;
  margin-left: 4px;
}

.filter-range {
  width: 317px;
  margin: 27px 72px 30px auto;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;
  margin-left: -1px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 158px;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 14px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  margin-top: 8px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  height: 12px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 1px 0 rgba(1, 1, 1, 0.2);
          box-shadow: 0 3px 1px 0 rgba(1, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  top: -10px;
  border: 9px solid #ffffff;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 84px;
  padding: 6px 31px;

  font-size: 14px;
  font-family: inherit;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.results {
  background-color: #fefefe;
}

.results-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  right: 73px;
  top: 35px;
}

.results-icon .icon-up,
.results-icon .icon-down {
  display: block;
}

.results-icon .icon-up {
  margin-right: 12px;
  cursor: pointer;
}

.results-icon .icon-down {
  margin-top: -1px;
  cursor: pointer;
}

.icon-up path:hover,
.icon-down path:hover {
  fill: #231f20;
}

.icon-active path,
.icon-active path:hover {
  fill: #81b3d2;
}

.icon-up path:focus,
.icon-down path:focus {
  fill: #81b3d2;
}

.icon-up path:active,
.icon-down path:active {
  fill: #81b3d2;
}

.results .sorting-results {
  padding-left: 72px;
  padding-top: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.results .sorting-title {
  padding-top: 36px;
  font-size: 12px;
  line-height: 18px;
}

.results .sorting-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list .sorting-active,
.sorting-list .sorting-active:hover,
.sorting-list .sorting-active:focus,
.sorting-list .sorting-active:active {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:focus {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-item a:active {
  color: #000000;
  border-bottom: none;
}

.catalog-content {
  background-color: #fefefe;
}

.catalog-content ul {
  list-style: none;
}

.catalog-title {
  color: #000000;
}

.catalog-title:hover {
  color: #81b3d2;
}

.catalog-title:focus,
.catalog-title:active {
  color: rgba(0, 0, 0, 0.302);
}

.catalog-content .item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
}

.item-text p {
  margin-top: 11px;
  margin-bottom: 18px;
}

.first-p {
  margin-right: 39px;
}

.second-p {
  margin-right: 65px;
}

.third-p {
  margin-right: 22px;
}

.catalog-content .item-buttons {
  position: relative;
}

.catalog-content .item-button {
  position: absolute;
  padding: 3px 17px 3px 17px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.item-button.details {
  background-color: #81b3d2;
  margin-right: 2px;
  left: 0;
  top: -4px;
}

.item-button.details:hover {
  background-color: #669ec0;
}

.item-button.details:focus,
.item-button.details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.302);
}

.item-button.book {
  background-color: #766357;
  right: 2px;
  top: -4px;
  padding-left: 16px;
}

.item-button.book:hover {
  background-color: #604e43;
}

.item-button.book:focus,
.item-button.book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.302);
}

.item-rating {
  position: absolute;

  right: 72px;
  bottom: 33px;
}

.item-rating span {
  color: #666666;
  background-color: #f2f2f2;

  padding: 4px 12px 5px 16px;
}

.catalog-content .catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
}

.catalog-list .catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  border-bottom: 1px solid #e5e5e5;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;

  top: 29px;
  right: 72px;
}

.stars .star-icon {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;

  width: 18px;
  height: 17px;

  margin-left: 5px;
}

.catalog-item-image {
  width: 135px;
  margin-left: 72px;
  margin-bottom: -6px;
  padding: 30px 0;
}

.catalog-item-content {
  width: 260px;
  margin-left: 30px;
}

.catalog-item-content h2 {
  margin: 0;
  margin-left: 1px;
  padding-top: 26px;
}

.main-footer {
  margin-top: -112px;
  position: relative;
  padding: 36px 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
}

.inner-page .main-footer {
  padding: 36px 0;
  margin-top: 0;
}

.main-footer  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-tag {
  margin: 0;
  margin-left: 132px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  margin: 0;
  margin-left: 26px;
  padding: 0;
  width: 160px;
  text-align: center;
  list-style: none;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  width: 151px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.twitter-icon svg {
  margin-left: 2px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
}

.social-button:focus path {
  opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  margin-top: 4px;
  margin-right: 100px;
}

.footer-copyright span {
  margin-bottom: 8px;
  padding-right: 7px;
}

.footer-copyright svg {
  width: 115px;
  height: 41px;
}

.copyright-logo:hover path {
  fill: #81b3d2;
}

.copyright-logo:focus path,
.copyright-logo:active path {
  fill: #bdbbbc;
}

/* Анимация формы */
@keyframes show {
  0% {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  70% {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
}
